<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="author" content="{{ author }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="{{ icon }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/reset.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/reveal.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/theme/" + theme + ".css") }}">
    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="{{ url_for('static', filename="lib/css/zenburn.css") }}">
    <!-- Printing and PDF exports -->
    <script>
        let link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match(/print-pdf/gi) ?
            '{{ url_for('static', filename="css/print/pdf.css") }}' :
            '{{ url_for('static', filename="css/print/paper.css") }}';
        document.getElementsByTagName('head')[0].appendChild(link);
    </script>
    <!--[if lt IE 9]>
    <script src="{{ url_for('static', filename="lib/js/html5shiv.js")}}"></script>
    <![endif]-->
</head>
<body>
<style>
{%- if default_style %}
    .reveal h1 { font-size: 40pt; }
    .reveal h2 { font-size: 35pt; }
    .reveal h3 { font-size: 30pt; }
    .reveal h4 { font-size: 25pt; }
    .reveal p, .reveal li, .reveal table { font-size: 20pt; }
    .reveal strong { color: red; }
    .reveal section img {
        border: none;
        box-shadow: none !important;
    }
    /*page number*/
    .reveal .slide-number {
        font-size: 24pt;
        position: absolute;
        right: 2em;
        top: 1em;
        color: black;
        background-color: transparent;
    }
{%- endif %}
    {{ extra_style }}
</style>

<div class="reveal">
<div class="slides">
{% for n in nav %}
<section data-background-transition="{{ transition }}"
    {%- if watermark -%}
    data-background="{{ watermark }}"
    {%- endif -%}
    {%- if watermark_size -%}
    data-background-size="{{ watermark_size }}"
    {%- endif -%}>
{% macro slide(n) -%}
{% if n['title'] or n['doc'] or n['img'] -%}
<section data-markdown><textarea data-template>
{% if n['title'] -%}
## {{ n['title'] }}

{% if n['doc'] or n['math'] or n['img'] or n['embed'] %}---{% endif %}
{%- endif %}

{{ n['doc'] }}
{% if n['math'] -%}
<script type="math/tex; mode=display">{{ n['math'] }}</script>
{%- endif %}
{% if n['img'] -%}
{% for img in n['img'] -%}
<img src="{{ img['src'] }}" alt=""
    {%- if img['width'] %} width="{{ img['width'] }}" {% endif -%}
    {%- if img['height'] %} height="{{ img['height'] }}" {% endif -%}/>
{%- endfor %}
{%- endif %}
{% if n['embed'] -%}
<div style="position: relative">
<embed class="stretch" width="1000px" height="500px" src="{{ n['embed'] }}"/>
</div>
{%- endif %}
</textarea></section>
{%- endif %}
{%- endmacro %}
{{ slide(n) }}
{% for sn in n['sub'] %}{{ slide(sn) }}{% endfor %}
</section>
{% endfor %}
</div>
</div>
<script src="{{ url_for('static', filename="js/reveal.js") }}"></script>
<script>
    Reveal.initialize({
        history: {{ history }},
        transition: '{{ transition }}',
        slideNumber: '{{ slide_num }}',
        hash: true,
        dependencies: [
            {src: '{{ url_for('static', filename="plugin/markdown/marked.js") }}'},
            {src: '{{ url_for('static', filename="plugin/markdown/markdown.js") }}'},
            {src: '{{ url_for('static', filename="plugin/notes/notes.js") }}', async: true},
            {src: '{{ url_for('static', filename="plugin/math/math.js") }}', async: true},
            {src: '{{ url_for('static', filename="plugin/highlight/highlight.js") }}',
                async: true,
                callback: () => hljs.initHighlightingOnLoad()},
            {src: '{{ url_for('static', filename="plugin/zoom-js/zoom.js") }}', async: true},
        ]
    });
</script>
</body>
</html>
